/* styles.css */
.markdown-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .markdown-table th, .markdown-table td {
    border: 1px solid #004400;
    padding: 8px;
  }
  
  .markdown-table th {
    background-color: #0c4901;
    text-align: center;
  }
  
  .markdown-table tr:nth-child(even) {
    background-color: #c1dbc5;
  }

  .markdown-table tr:nth-child(odd) {
    background-color: #d8f3dc;
  }
  
  .markdown-table tr:hover {
    background-color: #ddd;
  }
  
  .markdown-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #659491;
    color: white;
  }

  .user-card-style {
    text-align: right;
    border: 1px solid #2d6a4f;
    background-color: #daffef;
    font-size: 16px;
    width: fit-content;
    max-width: 70%;
    color: #1d4634;
    font-weight: 500;
    font-style: italic;
  }

  .other-card-style {
    text-align: left;
    background-color: #fbffee;
    border: 1px solid #a3b18a;
    font-size: 16px;
    width: fit-content;
    max-width: 70%;
    font-weight: 400;
  }

  .ant-menu-item-selected {
    background-color: #d8f4e7 !important;
  }

  .ant-input:hover {
    border-color: #4CAF50 !important; /* Change the border color on hover */
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2) !important; /* Change the box shadow on hover */
  }

  .ant-btn-variant-outlined {
    color: #4CAF50;
    border-color: #4CAF50;
  }