.login-page-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #4FFFB0, white, #4FFFB0);
    /*height: 300px; !* Set the height *!*/
    /*background-image: url('your-image.jpg'); !* Replace with your image URL *!*/
    background-size: cover; /* Ensures the image covers the entire div */
}

.sign-in-google-btn {
    margin-top: 35px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 30px;
}

.google-icon {
    margin-right: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
}
/* LoginPage.css */
.login-page {
    display: flex;
    height: 100vh;
  }
  
  .image-section {
    flex: 1;
    position: relative;
    background-color: #f0f0f0; /* Adjust as needed */
  }
  
  .static-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%; /* Start gradient from the middle */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(147, 193, 150) 100%);
    pointer-events: none;
  }
  
  .signin-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(147, 193, 150); /* Adjust as needed */
  }
  
  .google-signin-button {
    padding: 10px 20px;
    background-color: #4285f4; /* Google's button color */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .google-signin-button:hover {
    background-color: #357ae8; /* Hover effect */
  }